<%= form_tag('/checkout') do %>
	<div id="payment-form"></div>
	<%=submit_tag "#{current_user.booking_total_price}" %>
<% end %>


<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).


braintree.setup(gon.client_token, "dropin", {
  container: "payment-form"
});
</script>